* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#__nuxt {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;

    max-width: 80%;

    opacity: 0;

    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.markdown pre {
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.25);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.markdown pre {
    overflow-y: auto;
}

.markdown ol {
    list-style-position: inside;

    padding: 0;
}

.markdown ul {
    list-style-position: inside;

    padding: 0;
}
.markdown ul li {
    margin: 0 !important;
}